.product-card-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: 16rem;
  padding: 0.1rem;
  border-radius: 1rem;
  border: 0.15rem solid rgb(219, 218, 218);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #071942;
  transition: width 0.3s;

  .product-image {
    height: 50%;
    width: 100%;
    border-radius: 0.8rem;
  }

  .product-details {
    width: calc(99% - 0.1rem);
    color: white;

    .name-price {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 1rem;
      font-weight: 600;
      margin-top: 1rem;

      .product-name {
        font-size: 1rem;
        font-family: "Times New Roman", Times, serif;
      }
      .product-price {
        font-weight: 700;
      }
    }
    .product-category {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    .product-description {
      color: rgb(212, 212, 212);
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
}
.product-card-component:hover {
  width: 20rem;
  transition: width 0.5s;
}
