.navigation-component-expand {
  width: 10rem;
}
.navigation-component-collapse {
  width: 4rem;
}
.navigation-component-expand,
.navigation-component-collapse {
  height: 100%;
  background-color: #008080;
}
