.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 4rem;
  background: black;
  .logo-expand {
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    .expand-icon {
        height: 100%;
        display: flex;
        align-items: center;
      cursor: pointer;
    }
    .site-logo{
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 1.3rem;
        transform: rotate(-5deg);
    }
  }
  .profile-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
  }
  .user-name {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logout-btn {
    height: 60%;
    color: white;
    background-color: rgb(255, 81, 0);
  }
}
