.login-container{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bG9naW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;

    .login-box{
        height: 20rem;
        width: 30rem;
        border-radius: 1rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .user-name,.password,.login-btn-container{
            height:4rem;
            width:80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-input-field{
            height:3rem;
            width:100%;
        }
        .login-btn{
            height:80%;
            width:60%;
            background-color: rgb(33, 144, 254);
            color:white;
            font-size: 1rem;
            font-weight: 500;
        }
    }

}